@media (max-width: 576px) {
   .header {
      .navbar {
         &-search {
            display: none;
         }
      }

      .burger {
         top: 40px;
         right: 40px;
      }
   }

   .home {
      text-align: center;
      padding-top: 300px;

      &__subtitle {
         font-size: 30px;
      }
   }

   .category {
      &-carousel {
         .owl-nav {

            .owl-next,
            .owl-prev {
               top: 100%;
               transform: translateY(5px);

               &:hover {
                  background: none;
               }

               span {
                  font-size: 60px;
                  color: #000;
               }
            }
            .owl-prev {
               left: 50%;
               transform: translateX(-30px);
            }
   
            .owl-next {
               right: 50%;
               transform: translateX(30px);
            }
         }

         .category-nav {
            display: none;
         }
      }
   }

   .favorites {
      &-secondary {
         margin-top: 30px;
      }
   }

   .describe {
      padding: 50px 10px;
      text-align: justify;
   }

   .about {
      padding-top: 10px;
      padding-bottom: 100px;

      &__title {
         margin-bottom: 100px;
      }

      .col:last-child {
         .wrapper {
            margin-bottom: 0;
         }
      }

      .wrapper {
         margin-bottom: 100px;

         &__text {
            text-align: center;
         }
      }
   }

   .news {
      &-carousel {
         .news-nav {
            .news-prev {
               top: 100%;
               left: 50%;
               transform: translate(-30px, 30px);
            }

            .news-next {
               top: 100%;
               right: 50%;
               transform: translate(30px, 30px);
            }
         }
      }
   }

   .footer {
      &__img {
         margin: 0 auto 50px;
         display: block;
         padding-right: 0;
      }
   }
}